.label {
  grid-row-start: 1;
  grid-column-start: 1;
  border: 2px black solid;
  padding: 5px;
}

.parent-div {
  display: grid;
}

.modal-background {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 30%;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.bg {
  
  position: absolute;
  opacity: 40%;
  background-repeat: repeat;
  width: 100%;
  max-width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid blueviolet;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.playlist-gen-info {
  text-align: left;
  border-bottom: 7px black solid;
  line-height: 30%;
  padding-bottom: 10px;
  margin-top: -7px;
}

.runtime {
  font-weight: 700;
  font-size: large;
}

.song-info {
  font-weight: 700;
}

.total-num-text {
  font-size: medium;
  float: left;
  text-align: left;
}

.song-text {
  font-size: x-large;
  line-height: 40%;
}

.num-song-text {
  font-size: xx-large;
  float: right;
}

.breakdown {
  clear: both;
  border-top: 3px black solid;
  border-bottom: 7px black solid;
}

.footer-text {
  font-size: xx-small;
  text-align: left;
  padding-top: 5px;
  clear: both;
}

.extra-info {
  border-bottom: 3px solid black;
}

.label > .breakdown > .ant-list-split > .ant-list-header {
  border-bottom: 1px solid black !important;
}

.label > .breakdown > .ant-list-split > .ant-spin-nested-loading > .ant-spin-container > .ant-list-items > .ant-list-item {
  border-bottom: 1px solid black !important;
  margin: -5px auto;
}

.extra-info > .ant-list > .ant-spin-nested-loading > .ant-spin-container > .ant-list-item {
  border-bottom: 1px solid black !important;
}